[submodule "site-lisp/company-english-helper"]
	path = site-lisp/company-english-helper
	url = git@github.com:manateelazycat/company-english-helper.git
[submodule "site-lisp/insert-translated-name"]
	path = site-lisp/insert-translated-name
	url = git@github.com:manateelazycat/insert-translated-name.git
